<h1>Listing capa_files</h1>

<table>
  <tr>
    <th>Capa</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @capa_files.each do |capa_file| %>
  <tr>
    <td><%= capa_file.capa_id %></td>
    <td><%= capa_file.file %></td>
    <td><%= link_to 'Show', capa_file %></td>
    <td><%= link_to 'Edit', edit_capa_file_path(capa_file) %></td>
    <td><%= link_to 'Destroy', capa_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Capa file', new_capa_file_path %>
