<div class="engdb_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <fieldset class="fieldset">
      <legend><h3>Please Log In</h3></legend>
      <table>
      <tr>
        <td><%= label_tag :name, 'Name:' %></td>
        <td><%= text_field_tag :name, params[:name] %></td>
      </tr>
      <tr>
        <td><%= label_tag :password, 'Password:' %></td>
        <td><%= password_field_tag :password, params[:password] %></td>
      </tr>
      <tr>
        <td><%= submit_tag "Login" %></td>
      </tr>
      </table>
    </fieldset>
  <% end %>
</div>
