<%= form_for(@product_bulletin) do |f| %>
  <% if @product_bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_bulletin.errors.count, "error") %> prohibited this product_bulletin from being saved:</h2>

      <ul>
      <% @product_bulletin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br />
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :written_by %><br />
    <%= f.text_field :written_by %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_area :subject %>
  </div>
  <div class="field">
    <%= f.label :revision %><br />
    <%= f.text_field :revision %>
  </div>
  
  <div class="clear">
  <b>Upload Files:</b>
  <%= f.fields_for :bulletin_files do |p| %>
     <div class="field">
       <%= p.file_field :file, :multiple => true, name: "bulletin_files[file][]" %>
     </div>
  <% end %>
  </div>
	
   <% if params[:controller] == "product_bulletins" && params[:action] == "show" %> 
     <b>Uploaded Files:</b>
		<table class="table">
		<% @product_bulletin.bulletin_files.each do |p| %>
		  <tr>
		  	<td><%= p.file_url.split("/").last %></td>
		    <td><%= button_to "Download File", {action: "download", controller: "product_bulletins", :file => p.file}  %></td>
		  </tr>
		<% end %>
		</table>
   <% end %>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
