<h1>Listing treq_files</h1>

<table>
  <tr>
    <th>Treq</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @treq_files.each do |treq_file| %>
  <tr>
    <td><%= treq_file.treq_id %></td>
    <td><%= treq_file.file %></td>
    <td><%= link_to 'Show', treq_file %></td>
    <td><%= link_to 'Edit', edit_treq_file_path(treq_file) %></td>
    <td><%= link_to 'Destroy', treq_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Treq file', new_treq_file_path %>
