<%= form_for(@capa) do |f| %>
  <% if @capa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capa.errors.count, "error") %> prohibited this capa from being saved:</h2>

      <ul>
      <% @capa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span1">
    <%= f.label :capa_number %>
    <p><b><%= @capa.capa_number %></b></p>
  </div>
    <div class="span1">
    <%= f.label :date %><br />
    <p><b><%= @capa.date %></b></p>
  </div>
  <div class="span2">
    <%= f.label :name %><br />
    <%= @capa.name %>
  </div>
  <div class="span2">
    <%= f.label :department %><br />
    <%= @capa.department %>
  </div>
  <div class="span2">
    <%= f.label :pump_model %><br />
    <%= @capa.pump_model  %>
  </div>
  <div class="span2">
    <%= f.label :item_number %><br />
    <%= @capa.item_number %>
  </div>
    <div class="span10">
    <%= f.label :description_of_problem %><br />
    <%= @capa.description %>
  </div>
  <div class="clear"></div>
  <br/><br/><br/>
  <div class="span5">
    <%= f.label :lead_assigned %>
    <%= f.text_field :engineer, class: "span3", :placeholder => "Type Full Name" %>
  </div>
  <div class="span3">
    <%= f.label :ncr %>
    <%= f.text_field :ncr, class: "span2" %>
  </div>
    <div class="span2">
  <%= f.label :date_assigned %>
    <%= f.date_select :date_assigned, { :discard_day => true, :discard_month => true, :discard_year => true }%>
    <h4><%= @capa.date=Date.today.strftime("%d/%m/%Y") %></h4>
    </div>
  <div class="span10">
    <%= f.label :quality_comments %><br />
    <%= f.text_area :quality_comments, rows: 6, class: "span10" %>
  </div>
  <div class="clear"></div>
  <div class="span 10">
  <b>Upload Files:</b>
  <%= f.fields_for :capa_files do |p| %>
     <div class="field">
       <%= p.file_field :file, :multiple => true, name: "capa_files[file][]" %>
     </div>
  <% end %>
  </div>
	
   <% if params[:controller] == "capas" && params[:action] == "show" %> 
     <b>Uploaded Files:</b>
		<table class="table">
		<% @capa.capa_files.each do |p| %>
		  <tr>
		  	<td><%= p.file_url.split("/").last %></td>
		    <td><%= button_to "Download File", {action: "download", controller: "capas", :file => p.file}  %></td>
		  </tr>
		<% end %>
		</table>
   <% end %>
    
  <br/>
  <div class="actions, clear">
    <div class="center"><%= f.submit %></div>
  </div>
<% end %>
