<%= form_for(@capa) do |f| %>
  <% if @capa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capa.errors.count, "error") %> prohibited this capa from being saved:</h2>

      <ul>
      <% @capa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span2">
    <%= f.label :capa_number %><br />
    <%= f.text_field :capa_number, class:"span2" %>
  </div>
  <div class="span2">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:"span2" %>
  </div>
  <div class="span2">
    <%= f.label :department %><br />
    <%= f.text_field :department, class:"span2" %>
  </div>
  <div class="span2">
    <%= f.label :pump_model %><br />
    <%= f.select :pump_model, Capa::PUMP_MODELS, {:include_blank => true, :default => nil}, class:"span2" %>
  </div>
  <div class="span2">
    <%= f.label :item_number %><br />
    <%= f.text_field :item_number, class:"span2" %>
  </div>
    <div class="span7">
    <%= f.label :description_of_problem %><br />
    <%= f.text_area :description, rows: 15, class: "span7" %>
  </div>
  <div class="span2">
    <%= f.label :date %><br />
    <%= f.date_select :date, class: "span1" %>
  </div>
  
  <% if user_in_quality? %>
  <div class="clear"></div>
  <div class="span5">
    <%= f.label :engineer_assigned %>
    <%= f.text_field :engineer, class: "span3" %>
  </div>
  <div class="span5">
    <%= f.label :ncr %>
    <%= f.text_field :ncr, class: "span2" %>
  </div>
  <div class="span9">
    <%= f.label :quality_comments %><br />
    <%= f.text_area :quality_comments, rows: 6, class: "span9" %>
  </div>
  
  <% end %>
  <% if user_in_engineering? %>
  <div class="clear"></div>
  <p>Engineer Assigned: <%= @capa.engineer %></p>
  <div class="span4">
    <%= f.label :root_cause %><br />
    <%= f.text_area :root, rows: 6, class: "span4" %>
  </div>
  <div class="span6">
    <%= f.label :engr_comments %><br />
    <%= f.text_area :engr_comments, rows: 6, class: "span6" %>
  </div>
  <div class="span10">
    <%= f.label :solution %><br />
    <%= f.text_area :solution, rows: 6, class: "span10"  %>
  </div>
  <% end %>
  <div class="clear"></div>
  <div class="span3">
    <%= f.label :date_assigned %><br />
    <%= f.date_select :date_assigned, {:include_blank => true, :default => nil}, class: "span1" %>
  </div>
  <div class="span3">
    <%= f.label :date_resolved %><br />
    <%= f.date_select :date_resolved, {:include_blank => true, :default => nil}, class: "span1" %>
  </div>
  <div class="span3">
    <%= f.label :date_closed %><br />
    <%= f.date_select :date_closed, {:include_blank => true, :default => nil}, class: "span1" %>
  </div>
  
  <% if user_in_quality? %>
  <div class="span10">
    <%= f.label :follow_up_actions %><br />
    <%= f.text_area :follow_up_actions, rows: 6, class: "span10"  %>
  </div>
  <% end %>
  
  <br/>
  <div class="actions, clear">
    <%= f.submit %>
  </div>
<% end %>
