<%= form_for(@capa) do |f| %>
  <% if @capa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capa.errors.count, "error") %> prohibited this capa from being saved:</h2>

      <ul>
      <% @capa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span1">
    <b>CAPA #:</b><br/>
    <p><%= @capa.capa_number %></p>
  </div>
    <div class="span1">
    <b>Date:</b><br/>
    <p><%= @capa.date.strftime("%d/%m/%y") %></p>
  </div>
  <div class="span2">
    <b>Name:</b><br/>
    <%= @capa.name %>
  </div>
  <div class="span2">
    <b>Department:</b><br/>
    <%= @capa.department %>
  </div>
  <div class="span2">
    <b>Pump model:</b><br/>
    <%= @capa.pump_model  %>
  </div>
  <div class="span2">
    <b>Item number:</b><br/>
    <%= @capa.item_number %>
  </div>
    <div class="span10">
    <b>Description of Problem:</b><br/>
    <%= @capa.description %>
  </div>
  <br/><br/>
  <div class="clear"></div><br/>
  <div class="span5">
  <b>Lead:</b><br/>
    <%= @capa.engineer %>
  </div>
  <div class="span5">
    <b>NCR:</b><br/>
    <%= @capa.ncr %>
  </div>
  <br/><br/>
  <div class="span9">
    <b>Quality Comments:</b><br/>
    <%= @capa.quality_comments %>
  </div>
<br /><br /><br />
    <div class="clear"></div><br/>
  <div class="span4">
    <b>Root Cause:</b><br/>
    <%= @capa.root %>
  </div>
  <div class="span6">
    <b>Comments:</b><br/>
    <%= @capa.engr_comments %>
  </div><br/><br/>
  <div class="span10">
    <b>Solution:</b><br/>
    <%= @capa.solution  %>
  </div><br/><br/>
 <div class="span6">
    <b>Date Resolved:</b><br/>
    <%= @capa.date_resolved.strftime("%d/%m/%y") %>
  </div>
  <br/><br/><div class="clear"></div><br/>
    <div class="span6">
    <%= f.label :date_closed %><br />
    <%= f.date_select :date_closed, {:include_blank => true, :default => nil}, class: "span2" %>
  </div>
  
<br/><br/>
  <div class="span10"><br/><br/>
    <%= f.label :follow_up_actions %><br />
    <%= f.text_area :follow_up_actions, rows: 6, class: "span10"  %>
  </div>
  <div class="clear"></div>
  <div class="span 10">
  <b>Upload Files:</b>
  <%= f.fields_for :capa_files do |p| %>
     <div class="field">
       <%= p.file_field :file, :multiple => true, name: "capa_files[file][]" %>
     </div>
  <% end %>
  </div>
	
   <% if params[:controller] == "capas" && params[:action] == "show" %> 
     <b>Uploaded Files:</b>
		<table class="table">
		<% @capa.capa_files.each do |p| %>
		  <tr>
		  	<td><%= p.file_url.split("/").last %></td>
		    <td><%= button_to "Download File", {action: "download", controller: "capas", :file => p.file}  %></td>
		  </tr>
		<% end %>
		</table>
   <% end %>
  <br/>
  <div class="actions, clear">
    <div class="center"><%= f.submit %></div>
  </div>
<% end %>
