<h1>Editing CAPA</h1>

<% if @capa.status == "New" %>
<%= render 'assignform' %>

<% elsif @capa.status == "In Process" %>

<%= render 'inprocessform' %>

<% else %>

<%= render 'form' %>

<% end %>
<%= link_to 'Show', @capa %> |
<%= link_to 'Back', capas_path %>
