<p id="notice"><%= notice %></p>

<p>
  <b>CAPA number:</b>
  <%= @capa.capa_number %>
</p>

<p>
  <b>Pump model:</b>
  <%= @capa.pump_model %>
</p>

<p>
  <b>Item number:</b>
  <%= @capa.item_number %>
</p>

<p>
  <b>Name:</b>
  <%= @capa.name %>
</p>

<p>
  <b>Date:</b>
  <%= @capa.date %>
</p>

<p>
  <b>Department:</b>
  <%= @capa.department %>
</p>

<p>
  <b>Description:</b>
  <%= @capa.description %>
</p>

<p>
  <b>Engineer:</b>
  <%= @capa.engineer %>
</p>

<p>
  <b>Quality comments:</b>
  <%= @capa.quality_comments %>
</p>

<p>
  <b>Ncr:</b>
  <%= @capa.ncr %>
</p>

<p>
  <b>Engr comments:</b>
  <%= @capa.engr_comments %>
</p>

<p>
  <b>Root:</b>
  <%= @capa.root %>
</p>

<p>
  <b>Cause:</b>
  <%= @capa.cause %>
</p>

<p>
  <b>Suggested:</b>
  <%= @capa.suggested %>
</p>

<p>
  <b>Solution:</b>
  <%= @capa.solution %>
</p>

<p>
  <b>Date assigned:</b>
  <%= @capa.date_assigned %>
</p>

<p>
  <b>Date resolved:</b>
  <%= @capa.date_resolved %>
</p>

<p>
  <b>Date closed:</b>
  <%= @capa.date_closed %>
</p>

<p>
  <b>Status:</b>
  <%= @capa.status %>
</p>

<p>
  <b>Follow up actions:</b>
  <%= @capa.follow_up_actions %>
</p>


<%= link_to 'Edit', edit_capa_path(@capa) %> |
<%= link_to 'Back', capas_path %>
