<h1>Listing drawings</h1>

<table id="index">
  <tr>
    <th><%= sortable_column "Drawing number", :direction => :desc%></th>
    <th><%= sortable_column "Description" %></th>
    <th><%= sortable_column "Item number" %></th>
    <th><%= sortable_column "Pump model" %></th>
    <th><%= sortable_column "Frame size" %></th>
<!--    <th><%= sortable_column "Created on" %></th> -->
    <th><%= sortable_column "Make from" %></th>
<!--    <th><%= sortable_column "File format" %></th> -->
    <th><%= sortable_column "File location" %></th>
    <th><%= sortable_column "Part type" %></th>
<!--    <th>Comments</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drawings.each do |drawing| %>
  <tr>
    <td><%= link_to drawing.drawing_number, drawing%></td>
    <td><%= drawing.description %></td>
    <td><%= drawing.item_number %></td>
    <td><%= drawing.pump_model %></td>
    <td><%= drawing.frame_size %></td>
<!--    <td><%= drawing.created_on %></td> -->
    <td><%= drawing.make_from %></td>
<!--    <td><%= drawing.file_format %></td> -->
    <td><%= drawing.file_location %></td>
    <td><%= drawing.part_type %></td>
<!--    <td><%= drawing.comments %></td> -->
    <td><%= link_to 'Show', drawing %></td>
    <td><%= link_to 'Edit', edit_drawing_path(drawing) %></td>
    <td><%= link_to 'Destroy', drawing, confirm: 'Are you sure?', method: :delete %></td> 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drawing', new_drawing_path %>
