<% if notice %>
  <p id="notice"><%= notice%></p>
<% end %>
<% if alert %>
  <p id="notice"><%= alert%></p>
<% end %>
<% if @drawing.drawing_number == "K6565" %>
    <div>
		<embed src="http://www.classicgamesarcade.com/games/frogger.swf" width="500px" height="500px" autostart="true" loop="false" controller="true"></embed><br /><center><a href="http://www.classicgamesarcade.com/game/21607/frogger.html">Frogger</a></center>
    </div>
<% end %>
<p>
  <b>Drawing number:</b>
  <%= @drawing.drawing_number %>
</p>

<p>
  <b>Item number:</b>
  <%= @drawing.item_number %>
</p>

<p>
  <b>Description:</b>
  <%= @drawing.description %>
</p>

<p>
  <b>Pump model:</b>
  <%= @drawing.pump_model %>
</p>

<p>
  <b>Frame size:</b>
  <%= @drawing.frame_size %>
</p>

<p>
  <b>Created on:</b>
  <%= @drawing.created_on %>
</p>

<p>
  <b>Make from:</b>
  <%= @drawing.make_from %>
</p>

<p>
  <b>File format:</b>
  <%= @drawing.file_format %>
</p>

<p>
  <b>File location:</b>
  <%= @drawing.file_location %>
</p>

<p>
  <b>Part type:</b>
  <%= @drawing.part_type %>
</p>

<p>
  <b>Comments:</b>
  <%= @drawing.comments %>
</p>

<%= button_to "View Drawing", {action: "view", :id => @drawing.id}  %>
<%= link_to 'Edit', edit_drawing_path(@drawing) if user_in_engineering? %> |
<%= link_to 'Back', :back %>
