<p id="notice"><%= notice %></p>

<p>
  <b>Drawing number:</b>
  <%= @drawing.drawing_number %>
</p>

<p>
  <b>Item number:</b>
  <%= @drawing.item_number %>
</p>

<p>
  <b>Description:</b>
  <%= @drawing.description %>
</p>

<p>
  <b>Pump model:</b>
  <%= @drawing.pump_model %>
</p>

<p>
  <b>Frame size:</b>
  <%= @drawing.frame_size %>
</p>

<p>
  <b>Created on:</b>
  <%= @drawing.created_on %>
</p>

<p>
  <b>Make from:</b>
  <%= @drawing.make_from %>
</p>

<p>
  <b>File format:</b>
  <%= @drawing.file_format %>
</p>

<p>
  <b>File location:</b>
  <%= @drawing.file_location %>
</p>

<p>
  <b>Part type:</b>
  <%= @drawing.part_type %>
</p>

<p>
  <b>Comments:</b>
  <%= @drawing.comments %>
</p>

<%= button_to "View Drawing", {action: "view", :id => @drawing.id}  %>
<%= link_to 'Edit', edit_drawing_path(@drawing) if user_in_engineering? %> |
<%= link_to 'Back', drawings_path %>
