<h1>Listing bulletin_files</h1>

<table>
  <tr>
    <th>Bulletin</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bulletin_files.each do |bulletin_file| %>
  <tr>
    <td><%= bulletin_file.bulletin_id %></td>
    <td><%= bulletin_file.file %></td>
    <td><%= link_to 'Show', bulletin_file %></td>
    <td><%= link_to 'Edit', edit_bulletin_file_path(bulletin_file) %></td>
    <td><%= link_to 'Destroy', bulletin_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bulletin file', new_bulletin_file_path %>
