<%= form_for(@gage) do |f| %>
  <% if @gage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gage.errors.count, "error") %> prohibited this gage from being saved:</h2>

      <ul>
      <% @gage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gage_number %><br />
    <%= f.text_field :gage_number %>
  </div>
  <div class="field">
    <%= f.label :gage_type %><br />
    <%= f.text_field :gage_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_part_number %><br />
    <%= f.text_field :manufacturer_part_number %>
  </div>
  <div class="field">
    <%= f.label :servicing_company %><br />
    <%= f.text_field :servicing_company %>
  </div>
  <div class="field">
    <%= f.label :servicing_phone %><br />
    <%= f.text_field :servicing_phone %>
  </div>
  <div class="field">
    <%= f.label :calibration_period %><br />
    <%= f.select :calibration_period, Gage::PERIOD, prompt: 'Choose a calibration period' %>
  </div>
  <div class="field">
    <%= f.label :calibration_last_done %><br />
    <%= f.date_select :calibration_last_done %>
  </div>
   <div class="field">
    <%= f.label :calibration_due %><br />
    <%= f.date_select :calibration_due %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Gage::STATUS, prompt: 'Choose a Status' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
