<%= form_for :revisions, :url => { :controller => "revisions", :action => "create" } do |f| %>


  <div class="field">
    <%= f.label :change %><br />
    <%= f.text_area :change, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :justification %><br />
    <%= f.text_area :justification, rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :rev_level %><br />
    <%= f.text_field :rev_level %>
  </div>
  <div class="field">
    <%= f.label :disposition_wip %><br />
    <%= f.text_field :disposition_wip %>
  </div>
  <div class="field">
    <%= f.label :disposition_inventory %><br />
    <%= f.text_field :disposition_inventory %>
  </div>
  <div class="field">
    <%= f.label :quantity_in_qantel %><br />
    <%= f.number_field :quantity_in_qantel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
