<h3>Search Drawings</h3>
<%= form_for :drawings, :url => { :controller => "drawings", :action => "index" }, :html => {method: :get, class: "form-inline"} do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :drawing_number %><br />
    <%= f.text_field :drawing_number %>
  </div>
  <div class="field">
    <%= f.label :item_number %><br />
    <%= f.text_field :item_number %>
  </div>
  <div class="field">
    <%= f.label :pump_model %><br />
    <%= f.text_field :pump_model %>
  </div>
  <div class="field">
    <%= f.label :frame_size %><br />
    <%= f.text_field :frame_size %>
  </div>
    <div class="field"> 
    <%= f.label :part_type %><br />
    <%= f.select :part_type, Drawing::PART_TYPES, prompt: ' ' %>
  </div>
  <div class="input-medium">
    <%= f.label :created_before %><br />
    <%= f.date_select :created_before, {:start_year => 1950, :end_year => Time.now.year} %>
  </div>
  <div class="input-medium">
    <%= f.label :created_after %><br />
    <%= f.date_select :created_after, :default => {:year => 1950}, :start_year => 1950, :end_year => Time.now.year%>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
