<div>
	<h1>Welcome to the Wilfley Engineering Database</h1>
	<% if notice %>
	  <p id="notice"><%= notice%></p>
	<% end %>
	<% if alert %>
	  <p id="notice"><%= alert%></p>
	<% end %>

	<% if user_in_sales? || user_in_accounting? %>
	<p>Please use the options below to search, or use the menu above to choose other options.  Use a '?' as a single character wildcard 
		and '*' as a multiple character wildcard. Drawing description does not use wildcards but may be searched for multiple words by
		seperating with commas (i.e. case, 3x2-8).  The search will find all drawings that contain both words.</p>
	<div class="row">
		<div id="search" class="col-lg-6">
		  <%= render 'sir_search' %>
		</div>
		<div id="search" class="col-lg-6">
		  <%= render 'drawing_search' %>
		</div>
	</div>
	
    <% elsif user_in_shop? %>
		<button class="btn btn-primary btn-lg btn-block" >
 		 New CAPA
  		</button>
	<% else %>
	<p>Please use the options below to search, or use the menu above to choose other options.  Use a '?' as a single character wildcard 
		and '*' as a multiple character wildcard. Drawing description does not use wildcards but may be searched for multiple words by
		seperating with commas (i.e. case, 3x2-8).  The search will find all drawings that contain both words.</p>
	<div class="row">
		
		<div id="search" class="span2">
		  <%= render 'drawing_search' %>
		</div>
		<div id="search" class="span2">
		  <%= render 'ecn_search' %>
		</div>
		<div id="search" class="span2">
		  <%= render 'sir_search' %>
		</div>
	</div>
	
	<% end %>
</div>
