<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if user_in_sales? %>
	  <div class="span4">
		  <div class="field">
		    <%= f.label :request_number %><br />
		    <%= f.number_field :request_number %>
		  </div>
		  <div class="field">
		    <%= f.label :requested_by %><br />
		    <%= f.text_field :requester %>
		  </div>
		  <div class="field">
		    <%= f.label :regional_sales_manager %><br />
		    <%= f.text_field :regional_sales_mgr %>
		  </div>
		  <div class="field">
		    <%= f.label :area_rep %><br />
		    <%= f.text_field :rep %>
		  </div>
		  <div class="field">
		    <%= f.label :quote_number %><br />
		    <%= f.text_field :quote_number %>
		  </div>
	  </div>
	  <div class="span4">
		  <div class="field">
		    <%= f.label :customer %><br />
		    <%= f.text_field :customer %>
		  </div>
		  <div class="field">
		    <%= f.label :cusomter_location %><br />
		    <%= f.text_field :cusomter_location %>
		  </div>
		  <div class="field">
		    <%= f.label :product_line %><br />
		    <%= f.select :product_line, Request::PRODUCT_LINES, prompt: 'Choose an Product' %>
		  </div>
		  <div class="field">
		    <%= f.label :revision_level %><br />
		    <%= f.text_field :rev_level %>
		  </div>
		  <div class="field">
		    <%= f.label :order_number %><br />
		    <%= f.text_field :order_number %>
		  </div>
	  </div>
	  <div class="span4">
	      <div class="field">
		    <%= f.label :inquiry_submitted_date %><br />
		    <%= f.date_select :inq_submitted_date %>
		  </div>
		  <div class="field">
		    <%= f.label :order_submitted_date %><br />
		    <%= f.date_select :order_submitted_date, {:include_blank => true, :default => nil} %>
		  </div>
	  </div>
	  <div class="clear">
		  <div class="span10">
		    <%= f.label :special_inquiry_description %><br />
		    <%= f.text_area :description, rows: 6, class: "span10" %>
		  </div>
	  </div>
	  <div class="clear">
		  <div class="span10">
		    <%= f.label :additional_comments %><br />
		    <%= f.text_area :comments, rows: 4, class: "span10" %>
		  </div>
	  </div>
	  
  <% else %>
  
	<p>
	  <b>Request number:</b>
	  <%= @request.request_number %>
	</p>
	
	<p>
	  <b>Requester:</b>
	  <%= @request.requester %>
	</p>
	
	<p>
	  <b>Regional sales mgr:</b>
	  <%= @request.regional_sales_mgr %>
	</p>
	
	<p>
	  <b>Rep:</b>
	  <%= @request.rep %>
	</p>
	
	<p>
	  <b>Quote number:</b>
	  <%= @request.quote_number %>
	</p>
	
	<p>
	  <b>Order number:</b>
	  <%= @request.order_number %>
	</p>
	
	<p>
	  <b>Customer:</b>
	  <%= @request.customer %>
	</p>
	
	<p>
	  <b>Cusomter location:</b>
	  <%= @request.cusomter_location %>
	</p>
	
	<p>
	  <b>Product line:</b>
	  <%= @request.product_line %>
	</p>
	
	<p>
	  <b>Inq submitted date:</b>
	  <%= @request.inq_submitted_date %>
	</p>
	
	<p>
	  <b>Order submitted date:</b>
	  <%= @request.order_submitted_date %>
	</p>
	
	<p>
	  <b>Revision level:</b>
	  <%= @request.rev_level %>
	</p>
	
	<p>
	  <b>Description:</b>
	  <%= @request.description %>
	</p>
	
	<p>
	  <b>Status:</b>
	  <%= @request.status %>
	</p>
	
	<p>
	  <b>Comments:</b>
	  <%= @request.comments %>
	</p>
  <% end %>
  <% if user_in_engineering? %>
    <p>
	  <b>Manufacturing Comments:</b>
	  <%= @request.manufacturing_notes %>
	</p>
  	<div class="clear">
		  <div class="span10">
		    <%= f.label :engineering_comments %><br />
		    <%= f.text_area :engineering_notes, rows: 6, class: "span10" %>
		  </div>
	  </div>
  <% end %>
  <% if user_in_manufacturing? %>
    <p>
	  <b>Engineering Comments:</b>
	  <%= @request.engineering_notes %>
	</p>
  	<div class="clear">
		  <div class="span10">
		    <%= f.label :manufacturing_comments %><br />
		    <%= f.text_area :manufacturing_notes, rows: 6, class: "span10" %>
		  </div>
	  </div>
  <% end %>
  <% if user_in_accounting? %>
    <p>
	  <b>Engineering Comments:</b>
	  <%= @request.engineering_notes %>
	</p>
	<p>
	  <b>Manufacturing Comments:</b>
	  <%= @request.manufacturing_notes %>
	</p>
	<div class="clear">
		  <div class="span10">
		    <%= f.label :accounting_comments %><br />
		    <%= f.text_area :accounting_notes, rows: 6, class: "span10" %>
		  </div>
	  </div>
	  <div class="clear">
	     <div class="span10">
		    <%= f.label :full_book_price %><br />
		    <%= f.number_field :total_price %>
		 </div>
	  </div>
	  <div class="clear">
		  <div class="span10">
		    <%= f.label :total_lead_time %><br />
		    <%= f.text_field :total_lead %>
		  </div>
	  </div>
	<% end %>
	
  <div class="clear">
  <b>Upload Files:</b>
  <%= f.fields_for :request_files do |p| %>
     <div class="field">
       <%= p.file_field :file, :multiple => true, name: "request_files[file][]" %>
     </div>
  <% end %>
  </div>
	
   <% if params[:controller] == "requests" && params[:action] == "show" %> 
     <b>Uploaded Files:</b>
		<table class="table">
		<% @request.request_files.each do |p| %>
		  <tr>
		  	<td><%= p.file_url.split("/").last %></td>
		    <td><%= button_to "Download File", {action: "download", controller: "requests", :file => p.file}  %></td>
		    <!--<td><%= link_to "Delete File", p, method: :delete %></td>-->
		  </tr>
		<% end %>
		</table>
   <% end %>
	  
  <fieldset class="left" style="width: 580px;">
    <legend><h3>Parts and Items</h3></legend>
      <%= f.fields_for(:request_items, :html => {class: "form-inline"}) do |builder| %>
          <%= render 'request_item_fields', :f => builder%>
      <% end %>
  <p><%= link_to_add_fields("Add Item", f, :request_items ) %></p>
  </fieldset>
  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
