<div class="fields">
  <div class="span4">
	  <div class="field">
	    <%= f.label :part_number %><br />
	    <%= f.text_field :part_number %>
	  </div>
	  <div class="field">
	    <%= f.label :item_number %><br />
	    <%= f.text_field :item_number %>
	  </div>
	  <div class="field">
	    <%= f.label :part_description %><br />
	    <%= f.text_field :part_desc %>
	  </div>
	  <div class="field">
	    <%= f.label :reference_part %><br />
	    <%= f.text_field :reference_part %>
	  </div>
  </div>
  <% if user_in_manufacturing? or user_in_accounting? %>
	  <div class="span4">
		  <div class="field">
		    <%= f.label :manufactuing_lead_time %><br />
		    <%= f.text_field :mfg_lead %>
		  </div>
		  <div class="field">
		    <%= f.label :manufacturing_labor_time %><br />
		    <%= f.number_field :mfg_labor %>
		  </div>
		  <div class="field">
		    <%= f.label :manufacturing_material_cost %><br />
		    <%= f.number_field :mfg_matl %>
		  </div>
		  <div class="field">
		    <%= f.label :manufacturing_comments %><br />
		    <%= f.text_area :mfg_comments, rows: 4 %>
		  </div>
	  </div>
  <% end %>
  <% if user_in_engineering? or user_in_accounting? or user_in_manufacturing? %>
	  <div class="span4">
		  <div class="field">
		    <%= f.label :engineering_lead_time %><br />
		    <%= f.text_field :eng_lead %>
		  </div>
		  <div class="field">
		    <%= f.label :engineering_billable_hours %><br />
		    <%= f.number_field :eng_hours %>
		  </div>
		  <div class="field">
		    <%= f.label :make_from %><br />
		    <%= f.text_field :make_from %>
		  </div>
		  <div class="field">
		    <%= f.label :engineering_status %><br />
		    <%= f.text_field :eng_status %>
		  </div>
		  <div class="field">
		    <%= f.label :engineering_comments %><br />
		    <%= f.text_area :eng_comments, rows: 4 %>
		  </div>
		  <div class="field">
		   	 <%= f.label :purchasing_cost %><br />
		  	 <%= f.number_field :purch_cost %>
		  </div>
	  </div>
  <% end %>
  <% if user_in_accounting? %>
	  <div class="span4">
		  <div class="field">
		    <%= f.label :accounting_price %><br />
		    <%= f.number_field :acct_price %>
		  </div>
		  <div class="field">
		    <%= f.label :final_price %><br />
		    <%= f.number_field :final_price %>
		  </div>
		  <div class="field">
		    <%= f.label :final_lead_time %><br />
		    <%= f.text_field :final_lead %>
		  </div>
	  </div>
  <% end %>
  <div class="revfield">
      <%= link_to_remove_fields "Remove", f %>
  </div>
</div>

