<%= form_tag({:action => 'submit_sales', :id => @request.id}, multipart: true )%>

<p><label for="email_subject">Additional Subject Notes</label>
<%= text_field 'email', 'subject' %></p>
<p><label for="email_recipient">Additional Recipients</label>
<%= text_field 'email', 'recipient' %></p>
<p><label for="email_attachment">Attachments</label></p>
<%= file_field_tag 'attachment' %>
<p><label for="email_message"></label><br/>
<%= text_area 'email', 'message', value: render('submit_sales.text.erb'), class: "span6" %></p>
<%= form_tag %>