<%= form_tag :action => 'submit_sor', :id => @request.id %>

<p><label for="email_subject">Additional Subject Notes</label>
<%= text_field 'email', 'subject' %></p>
<p><label for="email_recipient">Additional Recipients</label>
<%= text_field 'email', 'recipient' %></p>
<p><label for="email_message"></label><br/>
<%= text_area 'email', 'message', value: render('submit_sor.text.erb'), class: "span6" %></p>
<%= form_tag %>