<h1>Special Requests</h1>

<% if user_in_sales? %>
  <%= link_to 'New Request', new_request_path %>
<% end %>

<table class="table">
  <tr>
    <th>SIR #</th>
    <th>Requester</th>
    <th>Regional</th>
    <th>Quote number</th>
    <th>Order number</th>
    <th>Customer</th>
    <th>Product line</th>
    <th>Inq submitted date</th>
    <th>Order submitted date</th>
    <th>Rev level</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.request_number %></td>
    <td><%= request.requester %></td>
    <td><%= request.regional_sales_mgr %></td>
    <td><%= request.rep %></td>
    <td><%= request.quote_number %></td>
    <td><%= request.order_number %></td>
    <td><%= request.customer %></td>
    <td><%= request.cusomter_location %></td>
    <td><%= request.product_line %></td>
    <td><%= request.inq_submitted_date %></td>
    <td><%= request.order_submitted_date %></td>
    <td><%= request.rev_level %></td>
    <td><%= request.description %></td>
    <td><%= request.status %></td>
    <td><%= request.comments %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if user_in_sales? %>
  <%= link_to 'New Request', new_request_path %>
<% end %>
