<h1>Special Requests</h1>

<% if user_in_sales? %>
  <%= link_to 'New Request', new_request_path %>
<% end %>

<table class="table">
  <tr>
    <th><%= sortable_column "SIR #", :column => "request_number", :direction => :desc %></th>
    <th><%= sortable_column "Requester" %></th>
    <th><%= sortable_column "Regional", :column => "regional_sales_mgr" %></th>
    <th><%= sortable_column "Quote number" %></th>
    <th><%= sortable_column "Order number" %></th>
    <th><%= sortable_column "Customer" %></th>
    <th><%= sortable_column "Product line" %></th>
    <th><%= sortable_column "Inq submitted date" %></th>
    <th><%= sortable_column "Order submitted date" %></th>
    <th><%= sortable_column "Rev level" %></th>
    <th><%= sortable_column "Status" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.request_number, request %></td>
    <td><%= request.requester %></td>
    <td><%= request.regional_sales_mgr %></td>
    <td><%= request.quote_number %></td>
    <td><%= request.order_number %></td>
    <td><%= request.customer %></td>
    <td><%= request.product_line %></td>
    <td><%= request.inq_submitted_date %></td>
    <td><%= request.order_submitted_date %></td>
    <td><%= request.rev_level %></td>
    <td><%= request.status %></td>
    <td><%= link_to request do %>
    		<i class="icon-eye-open glyphw"></i>
    	<% end %>
		<%= link_to edit_request_path(request) do %>
	    	<i class="icon-pencil glyphw"></i>
	    <% end %>
	    <% if user_in_admin? %>
			<%= link_to '<i class="icon-trash glyphw"></i>'.html_safe, request, confirm: 'Are you sure?', method: :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />

<% if user_in_sales? %>
  <%= link_to 'New Request', new_request_path %>
<% end %>
<p><%= will_paginate @requests %></p>
<%= link_to 'Back', :back %>
