<h1>Special Requests</h1>

<% if user_in_sales? %>
  <%= link_to 'New Request', new_request_path %>
<% end %>

<table class="table">
  <tr>
    <th><%= sortable_column "SIR", :direction => :desc %> #</th>
    <th><%= sortable_column "Requester" %></th>
    <th><%= sortable_column "Regional" %></th>
    <th><%= sortable_column "Quote number" %></th>
    <th><%= sortable_column "Order number" %></th>
    <th><%= sortable_column "Customer" %></th>
    <th><%= sortable_column "Product line" %></th>
    <th><%= sortable_column "Inq submitted date" %></th>
    <th><%= sortable_column "Order submitted date" %></th>
    <th><%= sortable_column "Rev level" %></th>
    <th><%= sortable_column "Status" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.request_number, request %></td>
    <td><%= request.requester %></td>
    <td><%= request.regional_sales_mgr %></td>
    <td><%= request.rep %></td>
    <td><%= request.quote_number %></td>
    <td><%= request.order_number %></td>
    <td><%= request.customer %></td>
    <td><%= request.cusomter_location %></td>
    <td><%= request.product_line %></td>
    <td><%= request.inq_submitted_date %></td>
    <td><%= request.order_submitted_date %></td>
    <td><%= request.rev_level %></td>
    <td><%= request.description %></td>
    <td><%= request.status %></td>
    <td><%= request.comments %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if user_in_sales? %>
  <%= link_to 'New Request', new_request_path %>
<% end %>
<p><%= will_paginate @requests %></p>
