<p id="notice"><%= notice %></p>

<p>
  <b>Request number:</b>
  <%= @request.request_number %>
</p>

<p>
  <b>Status:</b>
  <%= @request.status %>
</p>

<p>
  <b>Requester:</b>
  <%= @request.requester %>
</p>

<p>
  <b>Regional sales mgr:</b>
  <%= @request.regional_sales_mgr %>
</p>

<p>
  <b>Rep:</b>
  <%= @request.rep %>
</p>

<p>
  <b>Quote number:</b>
  <%= @request.quote_number %>
</p>

<p>
  <b>Order number:</b>
  <%= @request.order_number %>
</p>

<p>
  <b>Customer:</b>
  <%= @request.customer %>
</p>

<p>
  <b>Cusomter location:</b>
  <%= @request.cusomter_location %>
</p>

<p>
  <b>Product line:</b>
  <%= @request.product_line %>
</p>

<p>
  <b>Inq submitted date:</b>
  <%= @request.inq_submitted_date %>
</p>

<p>
  <b>Order submitted date:</b>
  <%= @request.order_submitted_date %>
</p>

<p>
  <b>Rev level:</b>
  <%= @request.rev_level %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @request.comments %>
</p>
<% if user_in_engineering? || user_in_manufacturing? || user_in_accounting? || user_in_sales? %>
<p>
  <b>Engineering Comments:</b>
  <%= @request.engineering_notes %>
</p>
<p>
  <b>Manufacturing Comments:</b>
  <%= @request.manufacturing_notes %>
</p>
<% end %>
<% if user_in_sales? || user_in_accounting? %>
<p>
  <b>Accounting Comments:</b>
  <%= @request.accounting_notes %>
</p>
<p>
  <b>Full Book Price (No Multipliers added):</b>
  <%= @request.total_price %>
</p>
<p>
  <b>Total Lead Time:</b>
  <%= @request.total_lead %>
</p>
<% end %>

<b>Uploaded Files:</b>
<table class="table">
<% @request_files.each do |p| %>
  <tr>
  	<td><%= p.file_url.split("/").last %></td>
    <td><%= button_to "Download File", {action: "download", controller: "requests", :file => p.file}  %></td>
    <!--<td><%= link_to "Delete File", p, method: :delete %></td>-->
  </tr>
<% end %>
</table>

<% if user_in_sales? %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitengModal">
  Create Request and Submit to Engineering
  </button>
  </br></br>
<% end %>

<% if user_in_engineering? %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitmfgModal">
  Submit to Manufacturing
  </button>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitacctModal">
  Submit to Accounting
  </button>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rejectModal">
  Reject SIR as Incomplete
  </button>
  </br></br>
  <%= button_to "Close SIR", {action: "close_sir", :id => @request.id}, {class: "btn btn-primary btn-lg"}  %>
  </br></br>
<% end %>

<% if user_in_manufacturing? %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitacctModal">
  Submit to Accounting
  </button>
  </br></br>
<% end %>

<% if user_in_accounting? %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitsalesModal">
  Submit final report to Sales
  </button>
  </br></br>
<% end %>

<% if user_in_sales? ##and @request.status == "Complete" %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitsorModal">
  Turn SIR into SOR
  </button>
  </br>
<% end %>



<b>
<%= link_to 'Edit', edit_request_path(@request) %> |
<!--<%= link_to 'Back', :back %>-->
</b>





<!-- Submit to Engineering Modal -->
<div class="modal fade" style="display:none" id="submitengModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'submit_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></br>
        <%= button_to "Submit to Engineering", {action: "submit_eng", :id => @request.id}, {class: "btn btn-primary"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Submit to Manufacturing Modal -->
<div class="modal fade" style="display:none" id="submitmfgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'mfg_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></br>
        <%= button_to "Submit to Manufacturing", {action: "submit_mfg", :id => @request.id}, {class: "btn btn-primary"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Submit to Accounting Modal -->
<div class="modal fade" style="display:none" id="submitacctModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'acct_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></br>
        <%= button_to "Submit to Accounting", {action: "submit_acct", :id => @request.id}, {class: "btn btn-primary"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Submit to Sales Modal -->
<div class="modal fade" style="display:none" id="submitsalesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'sales_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></br>
        <%= button_to "Submit to Sales", {action: "submit_sales", :id => @request.id}, {class: "btn btn-primary"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Submit to SOR Modal -->
<div class="modal fade" style="display:none" id="submitsorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'sor_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></br>
        <%= button_to "Create SOR", {action: "submit_sor", :id => @request.id}, {class: "btn btn-primary"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Reject SIR Modal -->
<div class="modal fade" style="display:none" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'reject_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></br>
        <%= button_to "Send Email", {action: "reject", :id => @request.id}, {class: "btn btn-primary"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->