<h1>Listing ECN Mailing List</h1>

<table class="table table-hover">
  <tr>
    <th>Department</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_lists.each do |email_list| %>
  <tr>
    <td><%= email_list.department %></td>
    <td><%= email_list.email %></td>
    <td><%= link_to 'Show', email_list %></td>
    <td><%= link_to 'Edit', edit_email_list_path(email_list) %></td>
    <td><%= link_to 'Destroy', email_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email list', new_email_list_path %>
