<%= form_for(@treq) do |f| %>
  <% if @treq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treq.errors.count, "error") %> prohibited this treq from being saved:</h2>

      <ul>
      <% @treq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_number %><br />
    <%= f.number_field :test_number %>
  </div>
  <div class="field">
    <%= f.label :date_recieved %><br />
    <%= f.date_select :date_recieved %>
  </div>
  <div class="field">
    <%= f.label :submitted_by %><br />
    <%= f.text_field :submitted_by %>
  </div>
  <div class="field">
    <%= f.label :pump_model %><br />
    <%= f.text_field :pump_model %>
  </div>
  <div class="field">
    <%= f.label :technician %><br />
    <%= f.text_field :technician %>
  </div>
  <div class="field">
    <%= f.label :date_complete %><br />
    <%= f.date_select :date_complete, {:include_blank => true, :default => nil} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="clear">
  <b>Upload Files:</b>
  <%= f.fields_for :treq_files do |p| %>
     <div class="field">
       <%= p.file_field :file, :multiple => true, name: "treq_files[file][]" %>
     </div>
  <% end %>
  </div>
	
   <% if params[:controller] == "treqs" && params[:action] == "show" %> 
     <b>Uploaded Files:</b>
		<table class="table">
		<% @treq.treq_files.each do |p| %>
		  <tr>
		  	<td><%= p.file_url.split("/").last %></td>
		    <td><%= button_to "Download File", {action: "download", controller: "treqs", :file => p.file}  %></td>
		  </tr>
		<% end %>
		</table>
   <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
