<p id="notice"><%= notice %></p>

<p>
  <b>Test number:</b>
  <%= @treq.test_number %>
</p>

<p>
  <b>Date recieved:</b>
  <%= @treq.date_recieved %>
</p>

<p>
  <b>Submitted by:</b>
  <%= @treq.submitted_by %>
</p>

<p>
  <b>Pump model:</b>
  <%= @treq.pump_model %>
</p>

<p>
  <b>Technician:</b>
  <%= @treq.technician %>
</p>

<p>
  <b>Date complete:</b>
  <%= @treq.date_complete %>
</p>

<p>
  <b>Description:</b>
  <%= @treq.description %>
</p>

<b>Uploaded Files:</b>
<table class="table">
<% @treq_files.each do |p| %>
  <tr>
  	<td><%= p.file_url.split("/").last unless p.file_url.nil? %></td>
    <td><%= button_to "Download File", {action: "download", controller: "treqs", :file => p.file}  %></td>
    <% if user_in_admin? %>
	  <td><%= link_to "Delete File", p, method: :delete %></td>
	<% end %>
  </tr>
<% end %>

<br>

<%= link_to 'Edit', edit_treq_path(@treq) %> |
<%= link_to 'Back', treqs_path %>