<h1>Listing request_files</h1>

<table>
  <tr>
    <th>Request</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @request_files.each do |request_file| %>
  <tr>
    <td><%= request_file.request_id %></td>
    <td><%= request_file.file %></td>
    <td><%= link_to 'Show', request_file %></td>
    <td><%= link_to 'Edit', edit_request_file_path(request_file) %></td>
    <td><%= link_to 'Destroy', request_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request file', new_request_file_path %>
