<div class="fields">
<div class="span4">
  <div class="revfield">
    <b><%= f.label :drawing_number %></b><br />
    <%= f.text_field :drawing_number %>
  </div>
  <div class="revfield">
    <%= f.label :change %><br />
    <%= f.text_area :change, rows: 3 %>
  </div>
  <div class="revfield">
    <%= f.label :justification %><br />
    <%= f.text_area :justification, rows: 3 %>
  </div>
</div>
<div class="span4">
  <div class="revfield">
    <%= f.label :rev_level %><br />
    <%= f.text_field :rev_level %>
  </div>
  <div class="revfield">
    <%= f.label :disposition_work_in_progress %><br />
    <%= f.select :disposition_wip, Revision::DISPOSITION_TYPES, prompt: 'Select Disposition' %>
  </div>
  <div class="revfield">
    <%= f.label :disposition_inventory %> <br />
    <%= f.select :disposition_inventory, Revision::DISPOSITION_TYPES, prompt: 'Select Disposition' %>
  </div>
  <div class="revfield">
    <%= f.label :quantity_in_qantel %><br />
    <%= f.number_field :quantity_in_qantel %>
  </div>
</div>
  <div class="revfield">
      <%= link_to_remove_fields "Remove", f %>
  </div>
</div>