<h1>Listing ecns</h1>

<table>
  <tr>
    <th><%= sortable_column "Ecn number", :direction => :desc%></th>
    <th><%= sortable_column "Ecn type" %></th>
    <th><%= sortable_column "Product line" %></th>
    <th><%= sortable_column "Created on" %></th>
    <th><%= sortable_column "Status" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ecns.each do |ecn| %>
  <tr>
    <td><%= ecn.ecn_number %></td>
    <td><%= ecn.ecn_type %></td>
    <td><%= ecn.product_line %></td>
    <td><%= ecn.created_on %></td>
    <td><%= ecn.status === true ? "Closed" : "Open" %></td>
    <td><%= link_to 'Show', ecn %></td>
    <td><%= link_to 'Edit', edit_ecn_path(ecn) %></td>
    <td><%= link_to 'Destroy', ecn, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ecn', new_ecn_path %>
<p><%= will_paginate @ecns %></p>