<h1>Listing ecns</h1>

<table class="table table-striped">
  <tr class="info">
    <th><%= sortable_column "Ecn number", :direction => :desc%></th>
    <th><%= sortable_column "Ecn type" %></th>
    <th><%= sortable_column "Product line" %></th>
    <th><%= sortable_column "Created on" %></th>
    <th><%= sortable_column "Status" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ecns.each do |ecn| %>
  <tr>
    <td><%= link_to ecn.ecn_number, ecn%></td>
    <td><%= ecn.ecn_type %></td>
    <td><%= ecn.product_line %></td>
    <td><%= ecn.created_on %></td>
    <td><%= ecn.status === true ? "Closed" : "Open" %></td>
    <td><%= link_to ecn do %>
    	<i class="icon-eye-open glyphw"></i>
    	<% end %>
		<%= link_to edit_ecn_path(ecn) do %>
    	<i class="icon-pencil glyphw"></i>
    	<% end %>
		<%= link_to '<i class="icon-trash glyphw"></i>'.html_safe, ecn, confirm: 'Are you sure?', method: :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ecn', new_ecn_path %>
<p><%= will_paginate @ecns %></p>