<h1>Listing ecns</h1>

<table>
  <tr>
    <th>Ecn number</th>
    <th>Ecn type</th>
    <th>Product line</th>
    <th>Created on</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ecns.each do |ecn| %>
  <tr>
    <td><%= ecn.ecn_number %></td>
    <td><%= ecn.ecn_type %></td>
    <td><%= ecn.product_line %></td>
    <td><%= ecn.created_on %></td>
    <th> </th>
    <td><%= link_to 'Show', ecn %></td>
    <td><%= link_to 'Edit', edit_ecn_path(ecn) %></td>
    <td><%= link_to 'Destroy', ecn, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ecn', new_ecn_path %>
