<p>
  <h1>Ecn number: <%= @ecn.ecn_number %></h1>
</p>

<p>
  <b>Ecn type:</b>
  <%= @ecn.ecn_type %>
</p>

<p>
  <b>Product line:</b>
  <%= @ecn.product_line %>
</p>

<p>
  <b>Created on:</b>
  <%= @ecn.created_on %>
</p>

<p>
  <b>Distribute engineering:</b>
  <%= @ecn.distribute_engineering %>
</p>

<p>
  <b>Distribute purchasing:</b>
  <%= @ecn.distribute_purchasing %>
</p>

<p>
  <b>Distribute planning:</b>
  <%= @ecn.distribute_planning %>
</p>

<p>
  <b>Distribute manufacturing:</b>
  <%= @ecn.distribute_manufacturing %>
</p>

<p>
  <b>Distribute qantel:</b>
  <%= @ecn.distribute_qantel %>
</p>

<p>
  <b>Distribute sales:</b>
  <%= @ecn.distribute_sales %>
</p>

<p>
  <b>Distribute inventory:</b>
  <%= @ecn.distribute_inventory %>
</p>

<p>
  <b>Distribute quality:</b>
  <%= @ecn.distribute_quality %>
</p>

<p>
  <b>Distribute india:</b>
  <%= @ecn.distribute_india %>
</p>

<p>
  <b>Distribute finance:</b>
  <%= @ecn.distribute_finance %>
</p>

<% for revision in @ecn.revisions %>
  <h3>Revision</h3>
  <table id="revisiontable">
      <tr>
          <th>Drawing Number</th>
          <td><%= h revision.drawing_id %></td>
      </tr>
      <tr>
          <th>Changes</th>
          <td><%= h revision.change %></td>
      </tr>
      <tr>
          <th>Justification</th>
          <td><%= h revision.justification %></td>
      </tr>
      <tr>
          <th>New Revision</th>
          <td><%= h revision.rev_level %></td>
      </tr>
      <tr>
          <th>Disposition WIP</th>
          <td><%= h revision.disposition_wip %></td>
      </tr>
      <tr>
          <th>Disposition Inventory</th>
          <td><%= h revision.disposition_inventory %></td>
      </tr>
      <tr>
          <th>Quantity in Qantel</th>
          <td><%= h revision.quantity_in_qantel %></td>
      </tr>
  </table>
<% end %>
<%= button_to "Submit for Approval", {action: "submit", :id => @ecn.id}  %>
<%= button_to "Close ECN", action: "close", :onclick => "return confirm('Once an ECN is closed it can no longer be editted, are you sure you want to close this ECN?')" %>
<%= link_to 'Edit', edit_ecn_path(@ecn) %> |
<%= link_to 'Back', ecns_path %>
