<p>
  <h1>Ecn number: <%= @ecn.ecn_number %></h1>
</p>

<p>
  <b>Ecn type:</b>
  <%= @ecn.ecn_type %>
</p>

<p>
  <b>Product line:</b>
  <%= @ecn.product_line %>
</p>

<p>
  <b>Created on:</b>
  <%= @ecn.created_on %>
</p>

<p>
  <b>Created by:</b>
  <%= @ecn.user_name %>
</p>

<p>
  <b>Distribute engineering:</b>
  <%= @ecn.distribute_engineering %>
</p>

<p>
  <b>Distribute purchasing:</b>
  <%= @ecn.distribute_purchasing %>
</p>

<p>
  <b>Distribute planning:</b>
  <%= @ecn.distribute_planning %>
</p>

<p>
  <b>Distribute manufacturing:</b>
  <%= @ecn.distribute_manufacturing %>
</p>

<p>
  <b>Distribute qantel:</b>
  <%= @ecn.distribute_qantel %>
</p>

<p>
  <b>Distribute sales:</b>
  <%= @ecn.distribute_sales %>
</p>

<p>
  <b>Distribute inventory:</b>
  <%= @ecn.distribute_inventory %>
</p>

<p>
  <b>Distribute quality:</b>
  <%= @ecn.distribute_quality %>
</p>

<p>
  <b>Distribute india:</b>
  <%= @ecn.distribute_india %>
</p>

<p>
  <b>Distribute finance:</b>
  <%= @ecn.distribute_finance %>
</p>

<% for revision in @ecn.revisions %>
  <h3>Revision</h3>
  <table id="revisiontable">
      <tr>
          <th>Drawing Number</th>
          <td><%= h revision.drawing_number %></td>
      </tr>
      <tr>
          <th>Changes</th>
          <td><%= h revision.change %></td>
      </tr>
      <tr>
          <th>Justification</th>
          <td><%= h revision.justification %></td>
      </tr>
      <tr>
          <th>New Revision</th>
          <td><%= h revision.rev_level %></td>
      </tr>
      <tr>
          <th>Disposition WIP</th>
          <td><%= h revision.disposition_wip %></td>
      </tr>
      <tr>
          <th>Disposition Inventory</th>
          <td><%= h revision.disposition_inventory %></td>
      </tr>
      <tr>
          <th>Quantity in Qantel</th>
          <td><%= h revision.quantity_in_qantel %></td>
      </tr>
  </table>
<% end %>
<% if (user_in_engineering? and @ecn.status != true) %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submitModal">
  Submit for Approval
  </button>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#closeModal">
  Close ECN
  </button>
  </br>
  <b><%= link_to 'Edit', edit_ecn_path(@ecn) %></b> |
<% end %>
  <b><%= link_to 'Back', :back %></b>



<!-- Submit Modal -->
<div class="modal fade" style="display:none" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
	      <div class="modal-body">
	        <%= render 'submit_email_fields' %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= button_to "Submit ECN", {action: "submit", :id => @ecn.id}, {class: "btn btn-primary"} %>
	      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Submit Modal -->
<div class="modal fade" style="display:none" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Edit Email</h4>
      </div>
      <div class="modal-body">
        <%= render 'close_email_fields' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= button_to "Close ECN", {action: "close", :id => @ecn.id}, {class: "btn btn-primary", onclick: "return confirm('Once an ECN is closed it can no longer be edited, are you sure you want to close this ECN?')"}  %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->