<!DOCTYPE html>
<html>
<head>
  <title>Wilfley Engineering</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= stylesheet_link_tag    "bootstrap.min" %>

</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Wilfley Engineering Database" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to 'Home', controller: 'home', action: 'index' %></li>
        <% if user_in_engineering? %>
        	<li><%= link_to 'New Drawing', new_drawing_path %></li>
        	<li><%= link_to 'New ECN', new_ecn_path %></li>
        <% end %>
        <li><%= link_to 'SIR Database', controller: 'requests', action: 'index' %></li>
        <% if user_in_admin? %>
  			<li><%= link_to 'Edit ECN email list', controller: 'email_lists', action: 'index' %></li>
  			<li><%= link_to 'Edit Users', controller: 'users', action: 'index' %></li>
		<% end %>
		
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
